/*.carousel-inner > .item > img,.carousel-inner > .item > a > img{width:100%;height:600px;overflow:hidden;}*/


*{margin:0;padding:0;}
.container-fluid{padding:0px;}
.item{overflow:hidden;height:600px ;background-position: center; background-size: cover;}
.item1{background:#ccc;width:100%;display:inline-block;}
.s_theme_mobicraft_home_slider_snippet_animated{height:600px;}


.item .small , .item.item-1.active .small{color:#fff;
font-size:80px;
font-weight:300;visibility:hidden;opacity:0;
position:absolute;
transition:all 1s ease-out;
-webkit-transition:all 1s ease-out;
-moz-transition:all 1s ease-out;
-o-transition:all 1s ease-out;
transition-duration:0.7s;
-webkit-transition-duration:0.7s;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
transition-delay:0.2s;
-webkit-transition-delay:0.2s;
-moz-transition-delay:0.2s;
-o-transition-delay:0.2s;
top:20%;
 left:0; 
 right:0; 
 margin: auto;}
.item .big , .item.item-1.active .big{

font-size:40px;font-weight:300;
visibility:hidden;
top:55%;opacity:0;position:absolute;
transition:all 1s ease-out;
-webkit-transition:all 1s ease-out;
-moz-transition:all 1s ease-out;
-o-transition:all 1s ease-out;
transition-duration:0.7s;
-webkit-transition-duration:0.7s;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
transition-delay:0.9s;
-webkit-transition-delay:0.9s;
-moz-transition-delay:0.9s;
-o-transition-delay:0.9s;
left:0;
right:0;
margin: auto;
color:#fff;
}

.item .big span , .item.item-1.active .big span{color:#FBC02D;}
.item.active .small , .item.item-1.active .small.animated{top:27%;opacity:1;visibility:visible;}
.item.active .big , .item.item-1.active .big.animated {top:45%;opacity:1;visibility:visible;}
.item .banner-button , .item.item-1.active .banner-button{
	position: absolute;
	left:0;
	right:0;
	margin: auto;
	bottom:40%;
	transition:all 1s ease-out;
-webkit-transition:all 1s ease-out;
-moz-transition:all 1s ease-out;
-o-transition:all 1s ease-out;
transition-duration:0.7s;
-webkit-transition-duration:0.7s;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
transition-delay:1.3s;
-webkit-transition-delay:1.3s;
-moz-transition-delay:1.3s;
-o-transition-delay:1.3s;
visibility: hidden;
opacity: 0;

}
.item .banner-button .btn-default.bc-btn, .item.item-1.active .banner-button .btn-default.bc-btn{    
	border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    color:#fff;
}
.carousel-inner > .item{height: 100%; }
.carousel-inner > .item.item1 {background-size:cover; background-repeat:no-repeat; background-attachment:fixed;height: 100%;background-position: center; }
.item .banner-button .btn-default.bc-btn:hover , .item.item-1.active .banner-button .btn-default.bc-btn:hover{    
	border: 1px solid #fff;
    color:#333;
    background-color:#fff;
}

.item.active .banner-button , .item.item-1.active .banner-button.animated{bottom: 35%; visibility: visible; opacity: 1;}
/*.carousel-fade .carousel-inner .item{transition-property:opacity;transition-duration:1s;transition:all 0.7s ease-out;}
.carousel-fade .carousel-inner  .item,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{opacity:0;transition-duration:5s;transition:all 0.7s ease-out;}
.carousel-fade .carousel-inner  .active,.carousel-fade .carousel-inner  .next.left,.carousel-fade .carousel-inner .prev.right{opacity:1;}
.carousel-fade .carousel-inner .next,.carousel-fade 
.carousel-inner .prev,.carousel-fade .carousel-inner  .active.left,.carousel-fade .carousel-inner  .active.right
{left:0;transition-duration:5s;transition:all 0.7s ease-out;transform:translate3d(0,0,0);}

.carousel-fade .carousel-inner .carousel-control{z-index:9;}*/
.icon{width:60px; height:60px; background-color: #000; color:#fff; border-radius: 50%; position: absolute; top:200px; left:50%; text-align: center; line-height: 60px;}
.icon .fa{color: #fff;line-height: 60px;}


.carousel-fade  .carousel-indicators{display: none;}


@media(min-width:768px) and (max-width:1024px){
	.s_theme_mobicraft_home_slider_snippet_animated{height:400px;}
.item .small , .item.item-1.active .small{font-size:50px;}
.item .big ,.item.item-1.active .big {font-size:25px;}

.item.active .banner-button , .item.item-1.active .banner-button.animated{bottom: 25%;}

}
@media(min-width:320px) and (max-width:767px){

.s_theme_mobicraft_home_slider_snippet_animated{height:250px;}
.item .small , .item.item-1.active .small{font-size:30px;}
.item .big ,.item.item-1.active .big {font-size:18px;top:40%;}
.item.active .big , .item.item-1.active .big.animated{top:48%;}
.item .banner-button , .item.item-1.active .banner-button{bottom:20%;}
.item.active .banner-button , .item.item-1.active .banner-button.animated{bottom:10%; font-size: 12px;}
.item .banner-button .btn-default.bc-btn, .item.item-1.active .banner-button .btn-default.bc-btn{font-size: 12px;}

}