.ug-gallery-wrapper .ug-slider-wrapper {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.ug-gallery-wrapper .ug-strip-panel {
    background-color: rgb(245, 245, 245);
    position: absolute;
    z-index: 2;
}
#o_shop_collapse_category li a {
  display: inline-block;
  width: 80%;
  padding-left: 3px; }
#o_shop_collapse_category li i.fa {
  cursor: pointer; }

